DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=mini_job_processing

JWT_SECRET=
JWT_EXPIRES_IN=

REDIS_HOST=localhost
REDIS_PORT=6379

ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=admin123
